/* here you can put your own css to customize and override the theme */


/***
Rounded Portlets
***/


/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/


/*
Change Quick Sidebar Width
*/


/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/


/* ------------- clock v1 design -----------------------*/


/* .second.line {
    background-color: #e6194B;
} 

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3d3d3d;
    padding: 15px;
    z-index: 9;
}

.clock_container {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 8px solid #bbbbbb;
    box-shadow: 0 0 5px rgb(92, 92, 92);
}

.clock {
    background: #F7F8F9;
    box-shadow: 0 0 15px inset rgb(228, 228, 228);
    height: 100%;
    border-radius: 50%;
    position: relative;
    transform: rotate(-90deg);
}

.clock_line {
    background: #4d4d4d;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
}

.hour {
    width: 25%;
    height: 5px;
    z-index: 3;
}

.mintue {
    width: 35%;
    height: 5px;
    z-index: 2;
}

.second {
    width: 48%;
    height: 3px;
    z-index: 1;
}

.clock_dot {
    background: #4d4d4d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7%;
    height: 7%;
    border-radius: 50%;
    z-index: 4;
}

.date {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 10px;
    color: white;
}

.tiktok {
    box-shadow: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, rgba(0, 0, 0) 0%, rgb(22, 22, 22) 100%);
    width: 50%;
    height: 1%;
    transform: translate(0, -50%);
} */

.page-header.navbar {
    background-color: #003924;
}

body {
    background-color: #005841;
}

.page-title {
    color: #000;
    font-weight: 700;
}


/*----------- color scheme -------- */

.red-dark {
    background-color: #650000 !important;
    color: white;
}

.red-light {
    background-color: #850000 !important;
    color: white;
}

.gold-dark {
    background-color: #AF9500 !important;
    color: white;
}

.gold-light {
    background-color: #CCB33B !important;
    color: white;
}

.green-dark {
    background-color: #003924 !important;
    color: white;
}

.green-light {
    background-color: #005841 !important;
    color: white;
}


/* hover */

.red-dark:hover,
.red-light:hover,
.gold-dark :hover,
.gold-light:hover,
.green-dark:hover,
.green-light:hover {
    color: white;
}


/* -------------------------- */


/* ------------------------------------------ sidebar --------------------------------------------------------------------- */

.page-sidebar {
    background-color: #005841;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a {
    background: #AF9500;
    border-left: 4px solid #AF9500;
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active>a:hover,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.active.open>a:hover {
    background: #AF9500;
    border-left: 4px solid #AF9500;
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a,
.page-sidebar .page-sidebar-menu>li>a {
    border-top: 1px solid #fff;
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i,
.page-sidebar .page-sidebar-menu>li>a>i {
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li.open>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li:hover>a,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li.open>a {
    background: #CCB33B;
    color: white;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu,
.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu {
    background: transparent;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class^="icon-"],
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i[class*="icon-"],
.page-sidebar .page-sidebar-menu>li>a>i[class^="icon-"],
.page-sidebar .page-sidebar-menu>li>a>i[class*="icon-"] {
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li:hover>a>i,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.open>a>i,
.page-sidebar .page-sidebar-menu>li:hover>a>i,
.page-sidebar .page-sidebar-menu>li.open>a>i {
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control,
.page-sidebar .sidebar-search .input-group .form-control {
    background-color: transparent;
    color: #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group,
.page-sidebar .sidebar-search .input-group {
    border-bottom: 1px solid #fff;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control::-webkit-input-placeholder,
.page-sidebar .sidebar-search .input-group .form-control::-webkit-input-placeholder {
    color: #f1f1f1;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn>i,
.page-sidebar .sidebar-search .input-group .input-group-btn .btn>i {
    color: #f1f1f1;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li.active>a {
    background: #ffffff26 !important;
}

.page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a {
    background: #ffffff26 !important;
}

.page-sidebar .page-sidebar-menu.page-sidebar-menu-light>li .sub-menu>li:hover>a {
    background: #26715d !important;
}


/* ---------------------------------------end sidebar--------------------------------------------------------------------------- */


/* ---------------------------- date v2 -----------------------------------*/

.clock {
    text-align: center;
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: #003924;
}

h4.servertime {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    text-shadow: 0 0 5px #cde745;
}

#Date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    text-shadow: 0 0 5px #cde745;
}

ul.timer-ul {
    /* width: 800px; */
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

ul.timer-ul li {
    display: inline;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #cde745;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 5px;
    padding-right: 5px;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #cde745;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #cde745;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #cde745;
    }
    50% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #cde745;
    }
}